@font-face {
  font-family: "RobotoRegular";
  src: url("../font/roboto/Roboto-Regular.eot?#iefix");
  src: url("../font/roboto/Roboto-Regular.eot?#iefix") format("eot"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype"), url("../font/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background: #333333;
}
body .devices-block {
  display: table;
  width: 100%;
}
body .devices-block .title-bar {
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 5px;
  /*background: #000 url(../img/text-mask.png) repeat 0 0;*/
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: #ccc;
  -moz-text-fill-color: #ccc;
  text-fill-color: #ccc;
  display: table;
  width: 100%;
}
body .devices-block .title-bar .title-app {
  display: table-cell;
  width: 15%;
}
body .devices-block .title-bar .title-response {
  display: table-cell;
  width: 55%;
}
body .devices-block .title-bar .title-response span {
  text-transform: lowercase;
}
body .devices-block .title-bar .title-status {
  display: table-cell;
  width: 22%;
  text-align: center;
}
body .devices-block .title-bar .title-uptime {
  text-align: right;
}
body .devices-block .devices-repeat:nth-child(odd) {
  background-color: #3C3C3C;
}
body .devices-block .devices-repeat {
  display: table;
  width: 100%;
  font-family: "RobotoRegular";
  line-height: 20px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 5px;
  /*.text-image-mask(url(../img/text-mask.png) repeat 0 0);*/
  /*background: #000 url(../img/text-mask.png) repeat 0 0;
			-webkit-text-fill-color: transparent;*/
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: #ccc;
  -moz-text-fill-color: #ccc;
  text-fill-color: #ccc;
}
body .devices-block .devices-repeat .name {
  display: table-cell;
  width: 15%;
  padding: 4px 0 0 5px;
}
body .devices-block .devices-repeat .name.selected {
  /*text-shadow: 0 0 2px rgba(98, 171, 178, 0.7);*/
  /*text-shadow: 0 0 2px rgba(0, 0, 0, 1.5);*/
  -webkit-text-fill-color: #3AB54A;
  -moz-text-fill-color: #3AB54A;
  text-fill-color: #3AB54A;
}
body .devices-block .devices-repeat .request {
  display: table-cell;
  /*visibility: hidden;*/
  vertical-align: middle;
  /*padding: 0 5% 1px 5px;*/
  padding: 0 0 1px 5px;
  width: 55%;
}
body .devices-block .devices-repeat .request span {
  display: none;
}
body .devices-block .devices-repeat .request .dns,
body .devices-block .devices-repeat .request .ssl,
body .devices-block .devices-repeat .request .connect,
body .devices-block .devices-repeat .request .ttfb,
body .devices-block .devices-repeat .request .ttlb {
  /*text-shadow: 0 0 2px rgba(255, 255, 255, 1.5);*/
  display: table-cell;
  height: 20px;
  /*color: transparent;*/
}
body .devices-block .devices-repeat .request .dns {
  background-color: #51599E;
  /*border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;*/
}
body .devices-block .devices-repeat .request .ssl {
  background-color: #5295A0;
}
body .devices-block .devices-repeat .request .connect {
  background-color: #6E9C0E;
}
body .devices-block .devices-repeat .request .ttfb {
  background-color: #FFA60B;
}
body .devices-block .devices-repeat .request .ttlb {
  background-color: #DE340C;
  /*border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					min-width: 3px;	*/
}
body .devices-block .devices-repeat .request .request-width {
  width: 1%;
}
body .devices-block .devices-repeat .request .request-width.trans {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
body .devices-block .devices-repeat .status {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 1px 0;
  width: 22%;
  text-align: center;
}
body .devices-block .devices-repeat .status .status-color {
  background-color: #666;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin: 0 auto;
}
body .devices-block .devices-repeat .status .status-color.up {
  background-color: #3AB54A;
}
body .devices-block .devices-repeat .status .status-color.down {
  background-color: #B8192B;
}
body .devices-block .devices-repeat .uptime {
  text-align: right;
}
body .devices-block .devices-repeat .uptime.selected {
  /*text-shadow: 0 0 2px rgba(98, 171, 178, 0.7);*/
  /*text-shadow: 0 0 2px rgba(0, 0, 0, 1.5);*/
  -webkit-text-fill-color: #3AB54A;
  -moz-text-fill-color: #3AB54A;
  text-fill-color: #3AB54A;
}
body .devices-block .legend {
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 5px;
  /*.text-image-mask(url(../img/text-mask.png) repeat 0 0);*/
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: #ccc;
  -moz-text-fill-color: #ccc;
  text-fill-color: #ccc;
  margin-left: 15%;
  padding: 0 0 1px 5px;
}
body .devices-block .legend .lgnd_dns,
body .devices-block .legend .lgnd_ssl,
body .devices-block .legend .lgnd_conn,
body .devices-block .legend .lgnd_fb,
body .devices-block .legend .lgnd_lb {
  display: table-cell;
  padding-right: 50px;
}
body .devices-block .legend .lgnd_dns .lgnd_color {
  width: 20px;
  height: 20px;
  background-color: #51599E;
  display: inline-block;
}
body .devices-block .legend .lgnd_ssl .lgnd_color {
  width: 20px;
  height: 20px;
  background-color: #5295A0;
  display: inline-block;
}
body .devices-block .legend .lgnd_conn .lgnd_color {
  width: 20px;
  height: 20px;
  background-color: #6E9C0E;
  display: inline-block;
}
body .devices-block .legend .lgnd_fb .lgnd_color {
  width: 20px;
  height: 20px;
  background-color: #FFA60B;
  display: inline-block;
}
body .devices-block .legend .lgnd_lb .lgnd_color {
  width: 20px;
  height: 20px;
  background-color: #DE340C;
  display: inline-block;
}
body .devices-block .time_display {
  font-family: "RobotoRegular";
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  /*text-transform: uppercase;*/
  margin-bottom: 5px;
  /*.text-image-mask(url(../img/text-mask.png) repeat 0 0);*/
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: #ccc;
  -moz-text-fill-color: #ccc;
  text-fill-color: #ccc;
  margin-left: 15%;
  padding: 0 0 1px 5px;
}
body .devices-block .time_display #time_DNStime,
body .devices-block .time_display #time_SSLtime,
body .devices-block .time_display #time_Ctime,
body .devices-block .time_display #time_FBtime,
body .devices-block .time_display #time_LBtime {
  display: table-cell;
  min-width: 120px;
}
body .devices-block .time_display #AppName {
  text-transform: uppercase;
}
body .k2-noc-screen-footer {
  background: rgba(16, 20, 23, 0.5);
  display: table;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}
body .k2-noc-screen-footer .title {
  display: table-cell;
  vertical-align: middle;
}
body .k2-noc-screen-footer .title h1 {
  font-size: 50px;
  font-family: "RobotoLight";
  color: #cccccc;
  margin: 0;
}
body .k2-noc-screen-footer .logo {
  display: table-cell;
  vertical-align: middle;
}
